# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
dist-electron
release
*.local

# Editor directories and files
.vscode/.debug.env
.claude/
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# lockfile
pnpm-lock.yaml
yarn.lock
.env
app-config.json
dev-app-update.yml
CLAUDE.md
/python/build
/python/services/__pycache__
/python/api/__pycache__
/python/utils/__pycache__
/resources/python/_internal
resources/python/alice-ai-backend.exe
/python/__pycache__
