@import "tailwindcss";
@plugin "daisyui";
@import "./css/main.css";
@import "./css/chat.css";
@import "./css/actions.css";
@import "./css/settings.css";

html {
  background: transparent !important;
  background-color: transparent !important;
}
body {
  overflow: hidden;
}
